@mixin button-base {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 19.36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.3s ease-out;
}

.btn {
  @include button-base;
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &:hover {
    background-color: $color-primary;
  }
}

.btn--arrow {
  @include button-base;

  &:hover {
    gap: 16px;
  }
}

.btn--blue {
  background-color: $color-primary-2;
}

.btn--border-white {
  background-color: transparent;
  border: 1px solid #fff;
  &:hover {
    background-color: $color-primary-2;
    border: 1px solid transparent;
  }
}

.btn--border-dark {
  background-color: transparent;
  color: $color-primary-font;
  border: 1px solid $color-primary-font;

  &:hover {
    background-color: $color-primary-2;
    color: #fff;
    border: 1px solid $color-primary-2;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 22.4px;
  color: $color-primary-2;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 44.8px;
  color: $color-primary-font;
  text-transform: capitalize;

  @media only screen and (max-width: $bp-sm) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.paragraph {
  color: $color-secondary-font;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22.4px;
}

.arrow {
  width: 2.4rem;
  height: 2.4rem;
}
